{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block search %}{% endblock %}
{% block login %}
    <p><b>{{ message }}</b></p>
  {% if form.errors%}
    <p> Password or username is incorrect </p>
  {% endif %}

    <form class="form-horizontal" action="" role="form" method="post">
    {% csrf_token %}
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" class="form-control" name="username" id="username" placeholder="username">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <p></p><button type="submit" class="btn btn-default">Sign in</button>  Don't have an account?<a href="/register/"> Click here</a> </p>
      <input type="hidden" name="next" value="login">
    </div>
  </div>
</form>


{% endblock %}
{% block content %}
    {% if auction_list %}

        <table class="table table-condensed">
        <tr><th>Auction title</th><th>Category</th><th>Start date</th><th>End date</th></tr>
        {% for auction in auction_list %}
           <tr> <td><a href="/item/{{auction.id }}">{{ auction.auction_name }}</a></td>
               <td>{{ auction.category }}</td>
               <td>{{ auction.start_date }}</td><td> {{ auction.end_date }}</td></tr>

        {% endfor %}
        </table>

    {% endif %}
{% endblock %}