{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block search %}{% endblock %}
{% block login %}
{% include 'login.html' %}
{% endblock %}
{% block content %}
    <p>
    <b>Item name:</b> <br/>
    {{ item.auction_name }}<br/><br/>
    <b>Category:</b> <br/>
    {{ item.category }}<br/><br/>
    <b>Current Price:</b> <br/>
    {{ item.price_max }}<br/><br/>
    <b>Start date:</b> <br/>
    {{ item.start_date }}<br/><br/>
    <b>End date:</b> <br/>
    {{ item.end_date }}<br/><br/>
    <b>Auction owner:</b> <br/>
    {{ item.owner }}<br/><br/>
    </p>

{% endblock %}